<!DOCTYPE html>
<html lang="en-us" ng-app="angularApp">
    <head>
        <title>Introduction to AngularJS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <style>
            html, body
            {
                font-size: 1.1em;
            }
        </style>
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">AngularJS</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="/index.htm"><i class="fa fa-home"></i>Home</a></li>
				</ul>
			</div>
			</nav>
		</header>

        <div class="container">

			<div ng-controller="mainController">
                <div class="alert alert-warning" role="alert" ng-if="userHandle.highlight" ng-hide="userHandle.hideHandleInputField" ngCloak>Hey Want to enter a user handle?</div>
                <div class="input-group">
                    <span class="input-group-addon" id="handleLabel" ng-hide="userHandle.hideHandleInputField" ngCloak>@</span>
                    <input class="form-control" type="text" ng-model="userHandle.handle" ng-blur="userHandle.handleUpdated()" ng-hide="userHandle.hideHandleInputField" ngCloak aria-describedby="handleLabel" placeholder="Enter a Handle"></input>
                </div>
                <h1 ng-show="userHandle.handle.length" ngCloak>Hello {{ userHandle.handle }}!</h1>
            
                <div>
                        <div class="input-group">
                            <input class="form-control" type="text" ng-model="nameHandler.name" placeholder="Enter your name..." ng-keyup="nameHandler.handleNameUpdated()" aria-describedby="nameFieldLabel"></input>
                            <span id="nameFieldLabel" class="input-group-addon">Name</span>
                        </div>
                        <br>
                        <div class="" ng-class="nameHandler.nameInvalid" role="alert" ng-show="nameHandler.name.length < nameHandler.allowedCharacters" ngCloak>The input length ({{ nameHandler.name.length }}) is less than {{nameHandler.allowedCharacters}}</div>
                        <div class="" ng-class="nameHandler.nameValid" role="alert" ng-show="nameHandler.name.length >= nameHandler.allowedCharacters" ngCloak>The input length ({{ nameHandler.name.length }}) is more than {{nameHandler.allowedCharacters}}</div>
                        <br>
                        <div class="progress">
                          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{nameHandler.progressPercent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{nameHandler.progressPercent}}%">
                            <span class="sr-only">{{nameHandler.progressPercent}}% Complete</span>
                          </div>
                        </div>            
    
                </div>
                </hr>

                <h1 ngCloak>Hello {{nameHandler.name}}!</h1>

            </div>

		</div>

        <!-- load angular via CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="src/app.js"></script>
    </body>
</html>
