<!DOCTYPE html>
<html lang="en-us" ng-app="angularApp">
    <head>
        <title>Introduction to AngularJS</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <style>
            html, body
            {
                font-size: 1.1em;
            }
        </style>

        <!-- load angular via CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">AngularJS</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
				</ul>
			</div>
			</nav>
		</header>

        <div class="container">

			<div ng-controller="mainController">
                <div class="input-group">
                    <span class="input-group-addon" id="handleLabel" ng-hide="hideHandleInputField" ngCloak>@</span>
                    <input class="form-control" type="text" ng-model="handle" ng-blur="handleUpdated()" ng-hide="hideHandleInputField" ngCloak aria-describedby="handleLabel" placeholder="Enter a Handle"></input>
                </div>
                <h1 ng-show="handle.length" ngCloak>Hello {{ handle }}!</h1>
            
                <div>
                        <div class="input-group">
                            <input class="form-control" type="text" ng-model="name" placeholder="Enter your name..." aria-describedby="nameFieldLabel"></input>
                            <span id="nameFieldLabel" class="input-group-addon">Name</span>
                        </div>
                        <br>
                        <h3 class="alert"  ng-show="name.length < allowedCharacters" ngCloak>The input length ({{ name.length }}) is less than {{allowedCharacters}}</h3>
                        <h3 ng-show="name.length >= allowedCharacters" ngCloak>The input length ({{ name.length }}) is more than {{allowedCharacters}}</h3>
                </div>
                </hr>

                <h1 ngCloak>Hello {{name}}!</h1>

            </div>

		</div>

    </body>
</html>
